# IDE files
.vs/
.vscode/
.idea/
.DS_Store

# Building files
build
build*/
tools/kafka_repeater/build
tools/kafka_repeater/build*/
tools/sharelog_to_parquet/build
tools/sharelog_to_parquet/build*/
tools/share_convertor/build
tools/share_convertor/build*/
tools/stratum_log_proxy/build
tools/stratum_log_proxy/build*/
tools/stratum_log_proxy/cfg
tools/stratum_log_proxy/cfg*/
tools/stratum_log_proxy/img
tools/stratum_log_proxy/img*/
tools/stratum_log_proxy/data
tools/stratum_log_proxy/data*/
tools/tls_decrypt_proxy/build
tools/tls_decrypt_proxy/build*/
tools/worker_update/build
tools/worker_update/build*/


# Installs runs 
install/run_*/

# datas
/patches/
/data/

# GNU global files
/GPATH
/GRTAGS
/GTAGS

# generated configuration files
/src/config/*.h
/src/*.pro.pb.h
/src/*.pro.pb.cc

# documents, tools and test scripts
/docker/
!/docker/btcpool/deploy/
/docs/
/Dockerfile
/README.md
/.dockerignore
/.gitignore
/.clang-format
/run-clang-format.sh

# git folder
/.git/
