# IDE files
.vs/
.vscode/
.idea/
.DS_Store/

# Building files
/build
/build*/

# datas
/patches/
/data/

# Legacy files
/src/bitcoin/

# GNU global files
/GPATH
/GRTAGS
/GTAGS

#src/bytom/bh_shared.a
#src/bytom/bh_shared.h