#
# pool watcher cfg
#
# @since 2016-08
# @copyright btc.com
#

# is using testnet3
testnet = false;

# pool's stratum server info
pools = (
    # btcpool
    {
        name = "btcpool";
        passwd = "d=163840,md=163840";
        host = "cn.ss.btc.com";
        port = 3333;
        worker = "btccom";
        enable_tls = false;
    }
);

poolwatcher = {
    type = "BTC";
    stratum_proxy = true;
    
    # put job_topic here
    rawgbt_topic = "BtcJob";

    solved_share_topic = "BtcSolvedShare";
}

solved_sharelog_writer = {
    enabled = true;
    data_dir = "/work/btcpool/data/solvedsharelog";

    # zlib/gzip compression level: -1 to 9.
    # -1: defaule level, 0: non-compression, 1: best speed, 9: best size.
    # Changing compression level midway and restarting is OK.
    compression_level = -1;
};

kafka = {
    brokers = "127.0.0.1:9092"; # "10.0.0.1:9092,10.0.0.2:9092,..."
};
