#
# kafka repeater cfg
#
# @since 2018-17
# @copyright btc.com
#

kafka = {
    in_brokers = "127.0.0.1:9092";
    in_topic = "BtcShare";
    # Used to record progress / offsets.
    # Change it to reset the progress (will forward from the beginning).
    # The two repeater cannot have the same group id, otherwise the result is undefined.
    in_group_id = "btc_share_conv_v2v1_01";

    out_brokers = "127.0.0.1:9092";
    out_topic = "Share";
};

### 
# Choose a message converter you want to use. Set it to true to enable it.
# If no converter is enabled, kafka messages will be forwarded without any conversion.
# Currently, only one converter can be enabled at a time.
# TODO: Support for multiple converters (converter chain).
###

# Convert the Share version
# TODO: add bitcoin_v1_to_v2
share_convertor = {
    bitcoin_v2_to_v1 = true;
};

# Change the difficulty of shares according to stratum jobs from a topic.
# TODO: add bitcoin_v2
share_diff_changer = {
    job_brokers = "127.0.0.1:9092";
    job_topic = "StratumJob";
    job_group_id = "btc_share_diffch_v1_01";

    bitcoin_v1 = false;
};

# Logging options
log = {
    repeated_number_display_interval = 10; # seconds
};
