#
# stratum server cfg
#
# @since 2016-06
# @copyright btc.com
#

kafka = {
  brokers = "127.0.0.1:9092";
};

zookeeper = {
  brokers = "127.0.0.1:2181";
};

sserver = {
  # serverType
  type = "BEAM";

  ip = "0.0.0.0";
  port = 1800;

  enable_tls = true;
  tls_cert_file = "./stratum.crt";
  tls_key_file = "./stratum.key";

  # should be global unique, range: [1, 255]
  # if 0, assigns from zookeeper
  id = 0;
  # The lock path used when automatically assigning an id
  zookeeper_lock_path = "/locks/sserver_beam";

  # write last mining notify job send time to file, for monitor
  file_last_notify_time = "/work/btcpool/build/run_sserver/sserver_lastnotifytime.txt";

  # the connection will be closed if the miner does not send any message
  # to the sserver within the specified seconds.
  tcp_read_timeout = 600;

  # how many seconds between two share submit
  share_avg_seconds = 15;

  # the lifetime of a job
  # It should not be too short, otherwise the valid share will be rejected due to job not found.
  max_job_lifetime = 900;  // seconds

  # Reject all shares which nonce_prefix do not match the job,
  # ensuring that the pool does not suffer from the difficulty gradient attack.
  nonce_prefix_check = true;

  #default difficulty
  default_difficulty = "100";

  #max difficulty
  max_difficulty = "4000000000000000";

  #min difficulty
  min_difficulty = "40";

  # Adjust difficulty once every N second
  diff_adjust_period = 300;

  # kafaka consumer topic
  job_topic = "BeamJob";

  #share topic
  share_topic = "BeamShare";
  
  #solved share topic
  solved_share_topic = "BeamSolvedShare";

  # common events topic
  # example: miner connected, miner disconnected, ...
  common_events_topic = "BeamCommonEvents";

  ########################## dev options #########################

  # if enable simulator, all share will be accepted. for testing
  enable_simulator = false;

  # if enable it, all share will make block and submit. for testing
  enable_submit_invalid_block = false;

  # if enable, difficulty sent to miners is always dev_fixed_difficulty. for development
  enable_dev_mode = false;

  # difficulty to send to miners. for development
  dev_fixed_difficulty = 80000000.0;

  ###################### end of dev options ######################
};

users = {
  //
  // https://example.com/get_user_id_list?last_id=0
  // {"err_no":0,"err_msg":null,"data":{"jack":1,"terry":2}}
  //
  list_id_api_url = "http://localhost:8000/userlist.php";

  # Make the user name case insensitive
  case_insensitive = true;

  # remove the suffix appended to the user name
  # example: tiger_eth -> tiger, aaa_bbb_ccc -> aaa_bbb
  strip_user_suffix = true;
  user_suffix_separator = "_";

  # user auto register
  enable_auto_reg = false;
  auto_reg_max_pending_users = 50;
  zookeeper_auto_reg_watch_dir = "/stratumSwitcher/beam_autoreg";
};
